body {
  background-color: #0e1621;
  color: white;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #00aaff;
  margin-bottom: 25px;
}

.card {
  background: #1c2632;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 8px;
  font-size: 20px;
  width: 280px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.news {
  margin-top: 30px;
  text-align: center;
}

button {
  background: #1c2632;
  color: #00aaff;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

button:hover {
  background: #00aaff;
  color: white;
}

#newsContainer {
  margin-top: 20px;
  width: 400px;
  text-align: left;
}
